@import 'config';
@import 'woocommerce/woocommerce.scss';
html {
    scroll-behavior: smooth;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

.main-navigation {
    li {
        border-right: 1px solid #eee;
        padding: 5px 20px;
        justify-content: center;
    }
}